{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "auto",
  "semi": true,
  "proseWrap": "always",
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}